apiVersion: batch/v1
kind: Job
metadata:
  name: pre-sync-cp4d-cluster-setup
  namespace: openshift-gitops
spec:
  template:
    spec:
      containers:
        - name: configure-cluster
          image: "icr.io/cpopen/cpd/olm-utils-v2:latest"
          envFrom:
          - configMapRef:
              name: crrs
