apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: openshift-gitops
  name: 'cpd-cli-debug'
  annotations: {}
spec:
  selector:
    matchLabels:
      app: cpd-cli-debug
  replicas: 1
  template:
    metadata:
      labels:
        app: name
    spec:
      containers:
        - name: cpd-cli-debug
          image: "icr.io/cpopen/cpd/olm-utils-v2:4.8.5"
          envFrom:
          - configMapRef:
              name: crrs
    strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  paused: false