---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  #- ./authorize-instance-topology/crrs-namespaces.yaml
  - ./authorize-instance-topology/nns-managed-role-binding-inst.yaml
  - ./authorize-instance-topology/nns-managed-role-binding-oper.yaml
  - ./authorize-instance-topology/nns-managed-role-inst.yaml
  - ./authorize-instance-topology/nss-managed-role-oper.yaml
  - db2-privelages.yaml
  - ./cpd-platform/olm-utils-cm.yaml
  - ./cpd-platform/ibmcpd-cr.yaml
  #- 0000-cpd-namespaces.yaml

